.DS_Store
*.log
node_modules
dist*/
packages/kubekit-codegen/lib
es

.yalc
yalc.lock
yalc.sig

.idea/
.vscode/
temp/
.tmp-projections
build/
.rts2*
coverage/

typesversions
.cache
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz

generated
tmp
eks-blueprints-add-ons

examples/generate-vercel-client/swagger.json
eks-blueprints-add-ons
openapi
